<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="inputPath" value="C:\ABSA\Input\" />
		<add key="outputPath" value="C:\ABSA\Output\" />
		<add key="backup" value="C:\ABSA\Backup\" />
		<add key="destination" value="C:\ABSA\Destination\" />
		<add key="visaRecon" value="C:\ABSA\VisaRecon\VISA Recon. 27.03.2023_Bot.xlsx" />
		<add key="report" value="C:\ABSA\Report\" />
		<add key="sms" value="C:\ABSA\SMS\sms.txt" />
		<add key="tempSave" value="C:\ABSA\TempSave\" />
		<add key="ApplicationName" value="ABSA" />
		<add key="smtpHost" value="smtp-mail.outlook.com"/>
		<add key="smtpPort" value="587"/>
		<add key="fromEmail" value="ECLworkmate@outlook.com"/>
		<add key="hostEmail" value="ECLworkmate@outlook.com"/>
		<add key="hostPassword" value="tbcuafydpjedhcaz"/>
		<add key="toEmail" value="pmarfo@andurar.com"/>
		<add key="ccEmail" value="pmarfo@andurar.com,j.amoah@ecl-global.com"/>
		<add key="IsSendMail" value="1"/>
	</appSettings>
</configuration>